
@font-face {
  font-family: 'Authentic-Sans-90-reg';
  src: url('../fonts/AUTHENTICSans-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Authentic-Sans-90';
  src: url('../fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halibut Serif Regular';
  src: url('../fonts/Halibut-Regular.woff2') format('woff2'), url('../fonts/Halibut-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}