@import 'fonts.css';

@keyframes gradient {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 100%;
	}
}

:root {
	--body-text: 'Authentic-Sans-90-reg', 'Helvetica', sans-serif;
	--narrow-text: 'Authentic-Sans-90', 'Helvetica', sans-serif;
	--narrow-bold-text: 'Authentic-Sans-130', 'Helvetica', sans-serif;
	--serif-text: 'Cambo', serif;
	--text-color: #000;
	--text-secondary: #fff;
	--grey-color: #cacaca;
	--yellow-color: #ddd100;
	--purple-color: #af95dc;
	--lightblue-color: rgb(120, 206, 251);
	--peach-color: #e276c9;
	--green-color: #77e629;
	--darkgreen-color: #11440e;
	--brown-color: #794814;
	--fade-in-effect: fadein 400ms;
	font-size: calc(0.75em + 0.15vw);
	font-family: var(--body-text);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	color: var(--text-color);
	background: var(--yellow-color);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	touch-action: manipulation;
	scroll-behavior: smooth;
}

/* GENERAL STYLING */

.hidden {
	display: none !important;
}

.ignore {
	opacity: 0;
}

.green-color span {
	color: var(--darkgreen-color);
}

.purple {
	background-color: var(--purple-color);
}

.purple-gradient {
	background-image: linear-gradient(
		0deg,
		var(--purple-color),
		#fff0
	) !important;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

div p {
	margin: 0;
}

br {
	margin-top: 0.5em;
}

/* UNDER CONSTRUCTION PAGE */

.inprogress {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70vh;
	min-height: fit-content;
	justify-content: space-evenly;
}

pre:first-of-type {
	background: linear-gradient(127deg, #37bff5, #b7e5e7a0, #4272f6ea);
	background-size: 300% 100%;
	animation: gradient 16s linear infinite;
	animation-direction: alternate;
}

pre {
	/* background-color: #62daff8a; */
	border-radius: 10em;
	width: fit-content;
}

/* INFO BUTTON */

.infobutton {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 0.65em;
	border: 1px solid var(--text-color);
	background-color: var(--peach-color);
	margin: 1em;
	cursor: pointer;
	z-index: 3;
}

.infobutton:active {
	cursor: grabbing;
}

.infobutton:hover {
	transition: linear 0.15s;
	box-shadow: rgb(236, 112, 209) 0px 3px 15px,
		rgba(232, 100, 212, 0.838) -1px -1px 12px;
}

#dropdown p:last-of-type {
	margin: 1.5em 0 0.5em 0;
}

#dropdown img {
	width: 50%;
	margin: 0 0 0.5em 1em;
}

.right-align {
	text-align: right;
}

.hide {
	display: none;
}

.infobutton p + div > p {
	font-family: var(--serif-text);
	font-size: 0.95em;
	margin: 1em 0;
	line-height: 1.25em;
	cursor: pointer;
}

.infobutton p + div > p a {
	text-decoration: underline;
}

.infobutton p + div > p a:hover {
	color: var(--text-secondary);
}

.infobutton p + div > p a:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

/* HOME BUTTON, 3 DRIPS LOGO, TOP RIGHT */
a.dripsbtn {
	position: fixed;
	top: 0;
	z-index: 2;
	margin: 0.6em;
}

a.dripsbtn img {
	width: 3em;
	height: auto;
}

a.dripsbtn img:hover,
#offline span img:hover {
	-webkit-filter: drop-shadow(4px 4px 4px var(--grey-color))
		drop-shadow(-4px -4px 4px var(--grey-color));
	filter: drop-shadow(4px 4px 4px var(--grey-color))
		drop-shadow(-4px -4px 4px var(--grey-color));
	transition: linear 0.15s;
}

a.dripsbtn img:hover::after {
	content: 'drip-drop.tv';
}

/* PREVIOUS BUTTON */

div.infobutton + div.infobutton {
	background-color: var(--lightblue-color);
	margin-top: 4.75em;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: var(--narrow-text);
	text-transform: uppercase;
	padding: 0.8em 5px;
	z-index: 2;
}

div.infobutton + div.infobutton:hover {
	transition: linear 0.15s;
	box-shadow: rgb(18, 160, 255) 0px 3px 15px,
		rgba(53, 174, 255, 0.838) -1px -1px 12px;
}

/* 01 SECTION --> OFFLINE DISPLAY PAGE */

#offline,
.past {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

#offline {
	justify-content: center;
}

.logo {
	width: 18%;
	min-width: 250px;
}

.logo:hover {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.logo:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

img {
	width: 70%;
	max-width: 500px;
}

span.phraseToggle {
	text-align: center;
	width: 100vw;
	position: relative;
	padding-bottom: 3em;
}

span.phraseToggle p {
	position: absolute;
	width: 100vw;
}

#phrases {
	font-family: var(--body-text);
	margin-top: 0;
}

/* 02 MAIN --> LIVE STREAM LAYOUT */

#tlkio {
	width: auto;
	min-height: 350px;
	height: 100%;
	overflow-y: scroll;
}

#tlkio iframe {
	border: none;
	/* height: 100%;
	width: 100%; */
	max-width: 960px;
}

#livelayout {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: min-content min-content 1fr;

	height: 100vh;
	margin: 0 1em;
}

#livelayout div#chat {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 97%;
	padding: 0 4rem 0 1rem;
}

#livelayout div#chat h2 {
	margin-top: 0;
	border: none;
	background-color: white;
}

#livelayout h2 {
	background-color: var(--purple-color);
	border: 1px solid var(--text-color);
	grid-column: 1 / 3;
}

/* 
#live h2 + img {
	position: absolute;
	top: 0.75em;
	left: 1em;
	width: 12%;
	min-width: 180px;
	z-index: 1;
} */

/* 03 SECTION --> PAST VIDEOS */

section {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: inherit;
}

section mux-player {
	--pip-button: none;
	width: 960px;
}

section:not(#offline) {
	height: 900px;
}

section h2,
#livelayout h2:first-of-type {
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	/* border: 1px solid var(--text-color); */
	width: 10%;
	min-width: 200px;
	font-family: var(--narrow-text);
	padding: 0.25em 0 0 0;
	margin: 0.75em auto;
}

.past {
	justify-content: flex-start;
}

.past h2 {
	/* background-color: var(--grey-color); */
	width: fit-content;
	padding-right: 1em;
	padding-left: 1em;
}

.video-credits {
	max-width: 960px;
	margin: 1em auto;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 10%) 4fr;
	grid-gap: 0.5em 0;
}

.video-credits h5 {
	margin: 0.125em 0.125em 0.125em 0.5em;
	padding-right: 1em;
	text-transform: uppercase;
	font-family: var(--narrow-text);
}

.video-credits p {
	margin-right: 0.5em;
}

/* FOOTER // NEXT */
section + div.gradient {
	background-image: linear-gradient(0deg, var(--darkgreen-color), #fff0);
	width: 100vw;
	height: 2em;
	left: 0;
	bottom: 0;
	position: fixed;
	cursor: grab;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: min-content;
	z-index: 12;
	cursor: grab;
}

#past-list div.gradient {
	position: relative;
	background-image: linear-gradient(0deg, var(--darkgreen-color), #fff0);
	width: 100vw;
	height: 2em;
	left: 0;
	bottom: 0;
}

footer div + div {
	height: 100%;
	min-height: 120px;
	width: 100vw;
	position: relative;
	bottom: 0;
	left: 0;
	color: var(--purple-color);
	background: var(--darkgreen-color);
	font-family: var(--narrow-text);
	overflow-y: scroll;
}

footer h3 {
	text-align: center;
	font-weight: 400;
	margin: 4px auto 0 auto;
	text-transform: uppercase;
	text-decoration: underline;
	width: 15%;
	min-width: 400px;
	font-family: var(--narrow-text);
	color: var(--grey-color);
}

footer h3:nth-child(2) {
	/* color: var(--darkgreen-color); */
}

footer h3:nth-child(3) {
	position: absolute;
	right: 0;
	top: 0;
	min-width: fit-content;
	width: fit-content;
	text-decoration: none;
	padding-right: 1em;
}

footer div span {
	display: grid;
	grid-template-columns: 25% 70px 25% 1fr;
	grid-gap: 0.5em;
	color: var(--purple-color);
	vertical-align: middle;
	font-family: var(--narrow-text);
	margin: 0.5em 2em;
	font-size: 1.25em;
	width: 100%;
}

footer span + span {
	border-top: 1px dashed var(--grey-color);
	margin-top: 1em;
	padding-top: 1em;
}

footer span p {
	margin-top: 1em;
}

@-moz-document url-prefix() {
	footer span p:first-of-type {
		transform: translateY(-10px);
	}
}

footer span img {
	width: 100%;
	height: max-content;
	height: fit-content;
	height: auto;
}

/* PREVIOUS -> CATELOGUE */
div.prev-gradient-top {
	background-image: linear-gradient(0deg, #fff0, rgb(120 206 251 / 45%));
	width: 100vw;
	height: 6em;
	left: 0;
	top: 0;
	position: fixed;
}

div.prev-gradient-bottom {
	background-image: linear-gradient(0deg, rgb(120 206 251 / 45%), #fff0);
	width: 100vw;
	height: 2em;
	left: 0;
	bottom: 0;
	position: fixed;
}

main.catelogue {
	margin-top: 4em;
}

main.catelogue span {
	margin: 0;
	padding: 0 5em 0 0em;
	width: inherit;
	color: var(--grey-color);
	z-index: 1;
	position: sticky;
	top: 0;
}

main.catelogue span,
main.catelogue a {
	display: grid;
	grid-template-columns: 1fr 80px 1fr 3fr;
	grid-gap: 0.5em;
}

main.catelogue span p {
	width: auto;
	position: sticky;
	font-family: var(--narrow-text);
	text-transform: uppercase;
	margin-bottom: 0;
	padding-left: 25%;
}

main.catelogue span p:nth-child(1),
main.catelogue a h2:first-of-type {
	padding: 0;
	display: inline-grid;
	justify-content: center;
	text-align: center;
}

main.catelogue span p:nth-child(2) {
	grid-column: 3 / 4;
}

main.catelogue a {
	grid-template-rows: repeat(2, auto);
	align-items: flex-start;
	padding: 2em 5em 2em 0;
	font-size: calc(0.75em + 0.15vw);
}

main.catelogue a:hover {
	color: var(--lightblue-color);
	transition: linear 0.25s;
}

main.catelogue a h2 {
	font-weight: normal;
	font-family: var(--narrow-text);
	padding-right: 1em;
	margin-bottom: 0;
}

main.catelogue a h2:first-of-type,
main.catelogue a h2:nth-of-type(2),
main.catelogue a img {
	grid-row: 1 / 3;
}

main.catelogue a img {
	height: auto;
	max-width: 80px;
	width: 100%;
}

main.catelogue a h2:nth-of-type(4) {
	margin-top: 0;
}

main.catelogue a + a {
	border-top: 1px dashed var(--text-color);
}

@media (max-width: 960px) {
	section mux-player {
		width: 100%;
	}

	#livelayout {
		display: block;
		margin-top: 5em;
	}

	#livelayout div#chat {
		display: block;
	}

	#livelayout div#chat h2 {
		background-color: var(--green-color);
		border: 1px solid var(--text-color);
		margin-top: 0.5em;
	}
}

/* MOBILE portrait */
@media only screen and (orientation: portrait), screen and (max-width: 640px) {
	#tlkio {
		margin: 2em 0.5em 4em 0.5em;
		width: inherit;
		height: 300px;
	}

	section#offline {
		height: 88vh;
		margin-bottom: 12vh;
	}

	#offline span {
		display: none;
	}

	#offline span + img {
		width: 100%;
	}

	.past {
		padding-top: 15%;
	}

	#past-list div.gradient {
		height: 1em;
	}

	div.infobutton + div.infobutton {
		margin: 1em 4em 0 0;
		writing-mode: inherit;
		text-orientation: initial;
		padding: 0.65em;
	}

	footer#past-list {
		height: max-content;
		overflow-x: hidden;
		max-height: 145px;
	}
	footer div + div {
		min-height: 100px;
	}
	
	footer div span {
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 4px;
		margin-top: 1em;
	}

	footer div span p {
		font-size: 0.8em;
		margin-top: 0;
	}

	footer div span p:nth-child(1) {
		grid-column: 1;
		grid-row: 1/3;
	}

	footer div span p:nth-child(2),
	footer div span p:nth-child(3) {
		grid-column: 2;
	}

	footer span img {
		display: none;
	}

	#live h2 + img {
		display: none;
	}

	main.catelogue a {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: repeat(3, auto);
		padding: 2em 1em;
	}

	main.catelogue a h2 {
		margin-top: 0;
	}

	main.catelogue a h2:first-of-type {
		justify-content: start;
		text-align: left;
		grid-row: 1 / 4;
	}

	main.catelogue span,
	main.catelogue a img {
		display: none;
	}

	main.catelogue a h2:nth-child(3),
	main.catelogue a h2:nth-child(4),
	main.catelogue a h2:nth-child(5) {
		grid-column: 2;
	}

	main.catelogue a h2:nth-child(4),
	main.catelogue a h2:nth-child(5) {
	}

	main.catelogue a h2:nth-child(3) {
		grid-row: 1;
		text-transform: uppercase;
	}

	main.catelogue a h2:nth-child(4) {
		grid-row: 2;
	}

	main.catelogue a h2:nth-child(5) {
		grid-row: 3;
	}
}

/* MOBILE LANDSCAPE*/
@media only screen and (max-height: 400px) and (orientation: landscape) {
	div.infobutton,
	div.infobutton + div.infobutton {
		display: none;
	}

	section#offline {
		min-height: 100vh;
	}

	section#offline span + img {
		display: none;
	}

	section {
		min-height: 600px;
	}

	footer#past-list {
		display: none;
	}
}
