---
layout: default
title: "&#10230; Previous"
---

<body>

	{% include header.html link="index.html" %}

	<!-- PREVIOUS PAGE -->
	<div class="prev-gradient-top"></div>
	<div class="prev-gradient-bottom"></div>

	<!-- Index Subtitles -->
	<main class="catelogue">
		<span>
			<p>Original Stream</p>
			<p>Title</p>
			<p>Artists & Collaborators</p>
		</span>

		{% for event in site.events reversed %}
			{% if event.date > site.time %}
				{% continue %}
			{% endif %}
				<a href="index.html#{{ event.path | remove: "." | slice: 8,10 }}" title="stream details">
					<h2>{{ event.date | date: "%m/%d/%Y" }}</h2>
					<img src="assets/{{ event.thumbnail }}" width="80px" title="{{ event.title | escape_once }}">
					<h2>{{ event.title }}</h2>
					<h2>{{ event.artists }}</h2>
					<h2>{{ event.location }}</h2>
				</a>
		  {% endfor %}

	</main>

</body>