@import 'css/fonts.css';

:root {
	--body-text: 'Authentic-Sans-90-reg', 'Helvetica', sans-serif;
	--narrow-text: 'Authentic-Sans-90', 'Helvetica', sans-serif;
	--narrow-bold-text: 'Authentic-Sans-130', 'Helvetica', sans-serif;
	--serif-text: 'Cambo', serif;
	--text-color: #000;
	--text-secondary: #fff;
	--grey-color: #a7b5ae;
	--yellow-color: #ddd100;
	--purple-color: #af95dc;
	--peach-color: #ff7658;
	--green-color: #77e629;
	--darkgreen-color: #11440e;
	--brown-color: #794814;
	--fade-in-effect: fadein 400ms;
	font-size: calc(0.75em + 0.15vw);
	font-family: var(--body-text);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	color: var(--text-color);
	background: var(--yellow-color);
}

#header {
	display: none;
}

#chat {
	font-family: var(--body-text);
}

#chat.chat section#live dt.post-meta {
	color: var(--text-color);
	background-color: white;
}

#chat.chat section#live dt.post-meta span.post-name {
	display: none;
}

#chat.chat section#live dt.post:before {
	display: none;
}

div.post-avatar.post-avatar {
	border: 1px solid var(--green-color);
	box-shadow: none;
	border-radius: 0px;
}

div.post-avatar.post-avatar--troll {
	background-color: white;
	color: var(--green-color);
	text-transform: uppercase;
}
textarea#message_body.message-input {
	border: 1px dashed var(--text-color);
	border-radius: 0px;
	background-color: white;
	color: var(--text-color);
	font-size: 16px;
	line-height: 22px;
}

aside.aside div.info {
	display: none;
}
aside.aside div.participants {
	border-radius: 0px;
	border: 1px solid var(--green-color);
	height: inherit;
	line-height: 22px;
}

aside.aside div.counter {
	margin: 0;
	color: var(--green-color);
	border: none;
	background-color: white;
	text-align: left;
	padding: 0.25em 0.5em;
}

aside.aside div.counter-button {
	right: 2px;
	border: none;
	width: fit-content;
}
