<!-- INFO BUTTON, top right -->
<div class="infobutton">
  <p title="&#8618; info" class="right-align" onclick="displayInfo()" ;>
    ?
  </p>
  <div id="dropdown" class="hide">
    <p>
      Drip-drop.tv is a livestream platform, </br>organized by
      <a href="https://amylam.me/" target="_blank" title="amylam.me">Amy Lam</a> and
      <a href="http://husain.de/" target="_blank" title="husain.de">Oliver Husain</a>
    </p>
    <p>
      Designed by
      <a href="https://rupalimo.github.io/" target="_blank" title="rupali.com">Rupali Morzaria</a></br>Developed by <a
        href="" target="_blank" title="">John Hodgins</a>
    </p>

    <p>Supported by Canada Council for the Arts</p>
    <img src="assets/CCA.svg" width="50px" title="Canada Council for the Arts Logo">
  </div>
</div>